nav {
  background: #000c20;
  color: #7b8693;
}

.first-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #7b8693;
  font-size: 12px;
}

.contact {
  display: flex;
  justify-content: space-around;
  column-gap: 70px;
}

.icons * {
  margin-right: 10px;
}

.second-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  color: #f9f9fa;
}

a {
  text-decoration: none;
  color: #f9f9fa;
}

.links button {
  padding: 10px 30px;
  background: #ff5f13;
  border-radius: 6px;
  border: none;
  color: #f9f9fa;
  cursor: pointer;
}

.hero {
  /* background: url("../images/losangeles.jpg"); */
  /* background: url("../images/pexels-asadphoto-1450340.jpg"); */
  background: url("../images/joseph-paul-jOi8CLM2aaI-unsplash.jpg");

  height: 100vh;
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 190px;
  row-gap: 23px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-overlay h1 {
  font-size: 4rem;
  width: 60%;
  color: #ffffff;
}

.hero-overlay p {
  color: #cbced3;
  position: relative;
  bottom: 10px;
  font-style: italic;
  font-size: 13px;
}

.logistic {
  color: #ff5f13;
}

input {
  padding: 15px;
  width: 30%;

  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
}

.submit {
  padding: 15px 25px;
  position: relative;
  right: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 10px;
  border: none;
  background: #ff5f13;
  color: #ffffff;
  font-weight: bolder;
  font-size: 12px;
}

.convo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  column-gap: 10px;
}

.convo img {
  width: 50px;
}

.convo div span {
  font-weight: bolder;
}

.convo div p {
  font-size: 14px;
}

.communicate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  background: #f9f9f9;
  margin-bottom: 100px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.services p {
  color: #ff5f13;
}

.services h1 {
  color: #2c234d;
  font-weight: bolder;
  font-size: 2rem;
}

.more-info{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2c234d;
  justify-content: center;
  width: 25%;
  height: 66vh;
  row-gap: 33px;
  border-radius: 6px;
}

.info i{
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #ff5f13;
}

.info h1{
  color: #2c234d;
}

.info p{
  width: 86%;
  text-align: center;
  line-height: 2rem;
  color: #2c234d;
}

.about{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: 200px;
}

.about-company{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height:80%;
  padding-bottom: 60px;
  row-gap: 18px;
}

.about-company h3{
  color: #ff5f13;
}

.about-company h1{

  font-size: 2.7rem;
  font-weight: 900;
  color: #2c234d;

}

.about-company button{
  width: 30%;
  padding: 13px;
  background:#ff5f13;
  border: none;
  border-radius: 4px;
  color: white;

}

.about-us-img{
  height: 100%;
  width: 27%;
  border:1px solid black;
  /* position: relative;
  left: 70px; */
  background: url("../images/pexels-tiger-lily-4487359.jpg");
  background-size: contain;
  border-radius: 5px;
  border: none;
}
